<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hm5_lewis"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".gameScreen"   
            android:screenOrientation="portrait"
            android:label="AntSmasher"
            >
        </activity>
        <activity
            android:name=".titleScreen"   
            android:screenOrientation="portrait"
            android:label="AntSmasher"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity 
            android:name=".PrefsActivity" 
          	android:label="Score"
          	android:enabled="true" >
            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        
         <receiver android:name=".IncomingCall">   
                <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                </intent-filter>
        </receiver>
         
    </application>

    
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
</manifest>
